<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm Delete</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'courses/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Are you sure you want to delete the following course?</h1>
        <p>Name: {{ course.name }}</p>
        <p>Description: {{ course.description }}</p>

        <a href="/" class="button">No</a>
        <a href="/courses/{{ course.id }}/destroy" class="button red">Yes! I want to delete this</a>
    </div>
</body>
</html>